<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Bazar da Solidariedade">
    <link rel="shortcut icon" href="~/favicon.png?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/assets/css/preload.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins.min.css">
    <link rel="stylesheet" href="~/assets/css/style.light-blue-500.min.css">
    <link rel="stylesheet" href="~/assets/plugins/bootstarp-sweetalert/sweetalert.min.css">

    @RenderSection("Head", required: false)

    <!--[if lt IE 9]>
        <script src="~/assets/js/html5shiv.min.js"></script>
        <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="ms-preload" class="ms-preload">
        <div id="status">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>

    <input type="text" id="swalMsg" value="@TempData["Swal"]" hidden />

    <div class="ms-site-container">
        @if (!User.Identity.IsAuthenticated)
        {
            <partial name="_Login" />
        }

        <partial name="_Header" />
        <partial name="_NavBar" />

        @RenderBody()

        <partial name="_Footer" />
        <partial name="_SideBar" />
    </div>


    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/jquery.mask.min.js"></script>
    <script src="~/assets/js/layout.js"></script>
    <script src="~/assets/plugins/bootstarp-sweetalert/sweetalert.min.js"></script>
    <script>
        var swalMsg = $('#swalMsg').val();
        if (swalMsg.length > 0) {
            var swalArray = swalMsg.split(';');
            swal({
                title: swalArray[0],
                text: swalArray[1],
                type: swalArray[2]
            });
        }
    </script>

    @RenderSection("Scripts", required: false)


</body>
</html>
