@page
@model IndexModel
@{
    ViewData["Title"] = "Bazar da Solidariedade";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="carousel-home-blog" class="carousel ms-carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @{
                        var classeIndicator = "active";
                    }
                    @for (int i = 0; i < Model.Banners.Count(); i++)
                    {
                        <li data-target="#carousel-home-blog" data-slide-to="@i" class="@classeIndicator"></li>
                        classeIndicator = "";
                    }
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @{
                        var classe = "active";
                    }
                    @foreach (var item in Model.Banners)
                    {
                        <div class="carousel-item @classe">
                            <a href="@item.Url">
                                <img src="~/banners/@item.Imagem" class="d-block img-fluid" alt="...">
                                <div class="carousel-caption">
                                    <h2 class="color-primary">@item.Titulo</h2>
                                    <p class="d-none d-md-block">@item.Subtitulo</p>
                                </div>
                            </a>
                        </div>
                        classe = "";
                    }
                </div>
                <a href="#carousel-home-blog" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control-prev" role="button" data-slide="prev"><i class="zmdi zmdi-chevron-left"></i></a>
                <a href="#carousel-home-blog" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control-next" role="button" data-slide="next"><i class="zmdi zmdi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>

<div class="container">
    <h2 class="right-line text-info">Regras para participação</h2>
    <div class="row">
        <div class="col-md-6 text-justify">
            @Html.Raw(Model.Regras)
        </div>
        <div class="col-md-6">
            <ul class="ms-timeline">
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">
                            Passo
                            <span>1</span>
                        </time>
                        <i class="ms-timeline-point"></i>
                        <img src="~/assets/img/Passo1.jpg" class="ms-timeline-point-img">
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Registro no Bazar</h3>
                        </div>
                        <div class="card-body">
                            Faça seu registro no Bazar informando eu Nome, Cpf, Email e Telefone,
                            assim como uma senha de acesso (favor não compartilhar sua senha).
                        </div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">
                            Passo
                            <span>2</span>
                        </time>
                        <i class="ms-timeline-point bg-warning"></i>
                        <img src="~/assets/img/Passo2.jpg" class="ms-timeline-point-img">
                    </div>
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Confirme seu e-mail</h3>
                        </div>
                        <div class="card-body">
                            Após o registro, você receberá um email (verifique sua caixa de spam). Confirme os dados clicando no link enviado.
                        </div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">
                            Passo
                            <span>3</span>
                        </time>
                        <i class="ms-timeline-point bg-royal"></i>
                        <img src="~/assets/img/Passo3.jpg" class="ms-timeline-point-img">
                    </div>
                    <div class="card card-royal">
                        <div class="card-header">
                            <h3 class="card-title">Pesquise os produtos</h3>
                        </div>
                        <div class="card-body">
                            Pesquise os itens do leilão acessando o <a asp-page="/Produtos">Leilão Virtual</a>. Você pode filtrar tanto por categoria quanto pelo estado.
                        </div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">
                            Passo
                            <span>4</span>
                        </time>
                        <i class="ms-timeline-point bg-success"></i>
                        <img src="~/assets/img/Passo4.jpg" class="ms-timeline-point-img">
                    </div>
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Efetue seu lance</h3>
                        </div>
                        <div class="card-body">
                            Ao efetuar o lance, confira atenciosamente o valor do mesmo. Você pode acompanhar todos os seus lances no link
                            <a asp-page="/MeusLances">Meus Lances</a>.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<p>&nbsp;</p>

<div class="wrap ms-hero-img-airplane ms-hero-bg-royal ms-bg-fixed">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="uppercase color-white">Bazar da Solidaridade</h2>
            <p class="lead uppercase color-light">Algums de nossos números para o Bazar da Associação Pestalozzi</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="card card-royal card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
                    <h2 class="counter">@Model.Visualizacoes</h2>
                    <i class="fa fa-4x fa-eye color-royal"></i>
                    <p class="mt-2 no-mb lead small-caps">visualizações</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-5">
                    <h2 class="counter">@Model.Lances</h2>
                    <i class="fa fa-4x fa-gavel color-success"></i>
                    <p class="mt-2 no-mb lead small-caps">lances</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="card card-danger card-body overflow-hidden text-center wow zoomInUp animation-delay-4">
                    <h2 class="counter">@Model.Produtos</h2>
                    <i class="fa fa-4x fa-shopping-bag color-danger"></i>
                    <p class="mt-2 no-mb lead small-caps">produtos</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
                    <h2 class="counter">@Model.Parceiros</h2>
                    <i class="fa fa-4x fa-handshake-o color-info"></i>
                    <p class="mt-2 no-mb lead small-caps">parceiros</p>
                </div>
            </div>
        </div>
    </div>
</div>

