@page "{id?}"
@model BazarSapiens.Pages.MeusLancesModel

@{
    ViewData["Title"] = "Bazar - Meus Lances";
}

<div class="container container-full">
    <h2 class="text-info">Meus Lances</h2>

    <div class="ms-paper">
        <div class="ms-paper-content">
            <session class="ms-component-section">
                <div class="card">
                    <table class="table table-no-border">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th class="text-center">Valor do Último Lance</th>
                                <th class="text-center">Data e Hora do Último Lance</th>
                                <th class="text-center">Situação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lances)
                            {
                            <tr>
                                <td><a asp-page="/Produto" asp-route-id="@item.ProdutoId">@item.ProdutoNome</a></td>
                                <td align="center">R$ @item.UltimoLanceValor.ToString("0.00")</td>
                                <td align="center">@item.UltimoLanceDataHora.ToString("HH:mm:ss 'de' dd/MM/yyyy")</td>
                                @if (item.Ganhando)
                                {
                                    <td align="center">
                                        <span class="badge badge-success">Ganhando</span>
                                    </td>
                                }
                                else
                                {
                                    <td align="center">
                                        <a asp-page="/Produto" asp-route-id="@item.ProdutoId" class="badge badge-danger">Perdendo</a>
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </session>
        </div>
    </div>

    <div class="text-center">
        <a asp-page="/Produtos" class="btn btn-info btn-raised">Retornar ao leilão</a>
    </div>
</div>
