@page "{id}"
@model BazarSapiens.Pages.NoticiaModel

@{
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card animated fadeInLeftTiny animation-delay-5">
          <div class="card-body card-body-big">
            <h1 class="no-mt">@Model.Noticia.Titulo </h1>
            <div class="mb-4">
              Autor: 
              <a href="javascript:void(0)">@Model.Noticia.Autor</a> em
              <a href="javascript:void(0)" class="ms-tag ms-tag-info">@Model.Noticia.Tags</a>
              <span class="ml-1 d-none d-sm-inline">
                <i class="zmdi zmdi-time mr-05 color-info"></i>
                <span class="color-medium-dark"> @Model.Noticia.DataPublicacao </span>
                </span>
              </div>
              <img src="~/noticias/@Model.Noticia.FotoPrincipal"  class="d-block img-fluid" alt="f">
              <p class="lead" id="Descricao">
                @Html.Raw(Model.Corpo)
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>

}         
