@page "{id}"
@model BazarSapiens.Pages.NoticiaModel

<div class="material-background"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5" ">
                <div class="card-body card-body-big ">
                    <h1 class="no-mt ">@Model.Noticia.Titulo</h1>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-4 ">
                                Publicado por <i class="zmdi zmdi-account"></i>
                                <span class="color-info">@Model.Noticia.Autor</span>
                                em <i class="zmdi zmdi-time"></i>
                                <span class="color-info">@Model.Noticia.DataPublicacao.ToString("d 'de' MMMM 'de' yyyy")</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="ml-1 "><i class="zmdi zmdi-comments color-royal mr-05 "></i> 0</span>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            @for (int i = 0; i < Model.Tags?.Length; i++)
                            {
                                <a href="javascript:void(0) " class="ms-tag ms-tag-info ">@Model.Tags[i]</a>
                            }
                        </div>
                    </div>
                   

                    <div id="carousel-example-generic2" class="ms-carousel carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Indicators -->
                        @{
                            var indicatorClass = "active";
                        }
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Fotos.Count; i++)
                            {
                                <li data-target="#carousel-example-generic2" data-slide-to="@i" class="@indicatorClass"></li>
                                indicatorClass = "";
                            }
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @{
                                var carouselClass = "active";
                            }
                            @foreach (var item in Model.Fotos)
                            {
                                <div class="carousel-item @carouselClass">
                                    <img class="d-block img-fluid" src="/noticias/@item" alt="@item">
                                </div>
                                carouselClass = "";
                            }
                        </div>
                        <!-- Controls -->
                        <a href="#carousel-example-generic2" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-white color-primary left carousel-control-prev" role="button" data-slide="prev">
                            <i class="zmdi zmdi-chevron-left"></i>
                        </a>
                        <a href="#carousel-example-generic2" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-white color-primary right carousel-control-next" role="button" data-slide="next">
                            <i class="zmdi zmdi-chevron-right"></i>
                        </a>
                    </div>
                    <p>
                        &nbsp;
                    </p>
                    @Html.Raw(Model.Corpo)
                </div>
            </div>
        </div>
    </div>
</div> 


