@page
@model BazarSapiens.Pages.ProdutosModel

@{
    ViewData["Title"] = "Bazar - Leilão";
}

<div class="material-background"></div>
<div class="container">
    <div class="text-center mb-6">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
            Leilão Virtual
        </h1>
        <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
            Veja as informações sobre cada item de nossa coleção e dê seu lance em prol do <span class="color-info">Bazar da Solidariedade</span>.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="card bg-primary">
                    <a asp-page="/MeusLances" class="btn btn-white btn-block">Mostrar meus lances</a>
                </div>
            }
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title text-center text-uppercase">Filtro</h3>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" id="Filters">
                        <h4 class="mb-1 no-mt">Categorias</h4>
                        <fieldset>
                            <div class="form-group no-mt">
                                @foreach (var item in Model.Categorias)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value=".@item.Descricao.ToLower()"> @item.Descricao
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4 class="mb-1">Estado</h4>
                            <div class="form-group no-mt">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=".novo"> Novo
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=".usado"> Usado
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <button class="btn btn-primary btn-block btn-raised no-mb mt-2" id="Reset">
                            <i class="zmdi zmdi-delete"></i> Limpar filtros
                        </button>
                    </form>
                    <form class="form-horizontal">
                        <h4>Ordenar por</h4>
                        <div class="form-group">
                            <select id="SortSelect" class="form-control selectpicker" data-dropup-auto="false">
                                <option value="random">Popular</option>
                                <option value="price:asc">Valor Crescente</option>
                                <option value="price:desc">Valor Decrescente</option>
                                <option value="date:desc">Mais lances</option>
                                <option value="date:asc">Menos lances</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row" id="Container">
                @foreach (var item in Model.Produtos)
                {
                    <div class="col-xl-4 col-md-6 mix @item.Categoria.Descricao.ToLower() @item.Estado.ToLower()" data-price="@string.Format("{0:0}", item.ValorAtual)" data-date="@item.QuantidadeLances">
                        <div class="card ms-feature">
                            <a asp-page="/Produto" asp-route-id="@item.Id">
                                <div class="withripple zoom-img">
                                    <img src="~/produtos/@item.FotoPrincipal" alt="@item.Nome" class="img-fluid center-block">
                                </div>
                            </a>
                            <div class="card-body overflow-hidden text-center">
                                <h4 class="text-normal text-center">@item.Nome</h4>
                                <div class="mt-2">
                                    <span class="mr-2">
                                        <span title="Total de Visualizações"><i class="zmdi zmdi-eye color-warning"></i> @item.Visualizacoes</span>
                                        &nbsp;&nbsp;
                                        <span title="Total de Lances"><i class="zmdi zmdi-flash color-info"></i> @item.QuantidadeLances</span>
                                    </span>
                                    <span class="ms-tag ms-tag-success">$ @string.Format("{0:0,0.00}", item.ValorAtual)</span>
                                </div>
                                <a asp-page="/Produto" asp-route-id="@item.Id" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb">
                                    <i class="zmdi zmdi-shopping-cart-plus"></i> Dar um lance
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- container -->

@section Scripts
{
    <script src="~/assets/js/ecommerce.js"></script>
}