@page "{id}"
@model BazarSapiens.Pages.ProdutoModel

@{
    ViewData["Title"] = "Bazar - Produto";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carousel-product" class="ms-carousel ms-carousel-thumb carousel slide animated zoomInUp animation-delay-5" data-ride="carousel" data-interval="0">
                <div class="card card-body">
                    <div class="carousel-inner" role="listbox">
                        @{
                            var i = 0;
                            foreach (var item in Model.Fotos)
                            {
                                var ativo = (i++ == 0) ? "active" : "";
                                <div class="carousel-item @ativo">
                                    <img src="~/produtos/@item" alt="@item" class="img-fluid">
                                </div>
                                if (i == 5)
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators carousel-indicators-tumbs carousel-indicators-tumbs-outside">
                    @{
                        var j = 0;
                        foreach (var item in Model.Fotos)
                        {
                            var ativo = (j == 0) ? "active" : "";
                            <li data-target="#carousel-product" data-slide-to="@j" class="@ativo">
                                <img src="~/produtos/@item" alt="@item" width="80">
                            </li>
                            j++;
                            if (j == 5)
                            {
                                break;
                            }
                        }
                    }
                </ol>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card animated zoomInDown animation-delay-5">
                <div class="card-body">
                    <h2>@Model.Produto.Nome</h2>

                    <p class="lead" id="produtoDescricao">
                        @Html.Raw(Model.Descricao)
                    </p>
                    <p>
                        A forma de pagamento é a vista, cartão de débido ou crédito.
                    </p>

                    <div class="mb-2 mt-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2 class="no-m text-info">@Model.Produto.Categoria.Descricao.ToUpper()</h2>
                            </div>
                            <div class="col-sm-6 text-right">
                                <h2 class="no-m text-success"><strong>R$ <span id="valorUltimoLance">@Model.Produto.ValorAtual.ToString("0")</span>,00</strong></h2>
                                <small style="color:lightgray">Último lance: <span id="usuarioUltimoLance">@Model.PessoaUltimoLance</span></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="valorLance" class="control-label">Informe seu lance</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input asp-for="Produto.Id" hidden />
                            <input asp-for="Produto.ValorAtual" hidden />
                            <input asp-for="Produto.ValorLance" hidden />
                            <input id="userName" type="text" value="@User.Identity.Name" hidden />
                            @{
                                var lanceMinimo = Model.Produto.ValorAtual + 1;
                                var sugestaoLance = Model.Produto.ValorAtual + Model.Produto.ValorLance;
                            }
                            <input id="valorLance" type="number" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-block btn-raised" onclick="clickEfetuar()">
                                    <i class="zmdi zmdi-shopping-cart-plus"></i>
                                    Dar um lance
                                </button>
                            </span>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/assets/js/lance.js"></script>
}